<iframe id="inner-site" src="" frameborder="0"></iframe>
<div id="contacts">
    <div id="contacts">
        <span id="location" class="customFont">Closest cinema to your location</span>
    </div>
</div>
<iframe id="right-site" src="" frameborder="0"></iframe>